$grey_color: rgb(245, 245, 245);
$body_color: #f8f9fe;
$primary_color: #494949;
$red_color: #ad1b3c;
$green_color: #63bc91;
$green_light_color: #eafbf3;
$secondary_red_light_color: #ffe9f5;
$secondary_red_color: #cc5f9b;
$grey_text_color: #7f7e82;
$light_border_color: #e6e5e5;
$blue_light_color: #e7f2ff;
$blue_color: #406da1;

