@import url(../Fonts/Roboto/stylesheet.css);
@import "./variables";
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
    color: $primary_color;
    line-height: 1;
    font-family: "Roboto Condensed";
}

body
{
    background-color: $body_color;
}
.body
{
    // background-color: red;
    margin-top: 84px;
    margin-left: 280px;
    padding: 24px;
    transition: all ease .2s;
    @media screen and (max-width: 960px)
    {
        margin-left: 240px;
    }
    @media screen and (max-width: 760px)
    {
        margin-left: 210px;
        padding: 20px;
    }

}
.body_when_nav_is_condensed
{
    margin-left: 64px;
}
label.error
{
    display: flex;
    align-items: center;
    margin-right: 22px;
}
.card
{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 1px rgba($color: #000000, $alpha: .05);
    .card_icon
    {
        margin-right: 12px;
    }
    .card_icon_small
    {
        height: 32px;
        width: 32px;
        border-radius: 50%;
        background-color: $red_color;
        i
        {
            color: white;
            font-weight: bold;
            // opacity: .8;
        }
    }
    .wrapper
    {
        form
        {
            .error
            {
                margin-left: 224px;
                color: red;
                font-size: 14px;
            }
        }
    }
}
.colors
{
    display: flex;
    
    *
    {
        height: 80px;
        width: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .primary_color
    {
        background-color: $primary_color;
        &::before
        {
            content: "primary_color";
            color: white;
        }
    }
    .red_color
    {
        background-color: $red_color;
        &::before
        {
            content: "red_color";
            color: white;
        }
    }

}
.buttons, .headings, .inputs, .dropdowns
{  
    padding-top: 28px;
    h3
    {
        padding: 8px 0px;
    }
}
button, input[type = submit], .button
{
    cursor: pointer!important;
    text-transform: uppercase!important;
    font-family: 'Roboto Condensed'!important;
    outline: none!important;
    border: none!important;
    border: none!important;
    border: none!important;
    font-weight: 600!important;
    font-size: 14px!important;
    padding: 10px 28px!important;
    border-radius: 3px!important;
    transition: all ease .2s!important;
    border: 1px solid transparent!important;
    text-decoration: none!important;
    display: flex;
    justify-content: center;
    align-items: center;
    &.primary_button
    {
        background-color: $red_color!important;
        color: white!important;
        i
        {
            color: white!important;
        }
        &:hover
        {
            color: $red_color!important;
            background-color: transparent!important;
            border: 1px solid $red_color!important;
            i
            {
                color: $red_color!important;
            }
        }
    }
    &.primary_button_nofill
    {
        background-color: white!important;
        color: $red_color!important;
        border: 1px solid $red_color!important;

        i
        {
            color: $red_color!important;
        }
        &:hover
        {
            color: white!important;
            background-color: $red_color!important;
            border: 1px solid $red_color!important;
            i
            {
                color: white!important;
            }
        }
    }
    &.secondary_button
    {
        background-color: white!important;
        color: $primary_color!important;
        border: 1px solid $primary_color!important;
        &:hover
        {
            color: $red_color!important;
            i
            {
                color: $red_color!important;
            }
        }
    }
    &.secondary_button_filled
    {
        background-color: $primary_color!important;
        color: white!important;
        border: 1px solid $primary_color!important;
        i
        {
            color: white!important;
        }
        &:hover
        {
            background-color: white!important;
            color: $primary_color!important;
            i
            {
                color: $primary_color!important;
            }
        }
    }
}
.no_styles_button
{
    background-color: transparent!important;
    width: unset!important;
    min-width: unset!important;
    padding: 2px!important;
    color: $red_color!important;
    &:hover
    {
        color: $primary_color!important;
    }
}
input, select
{
    background-color: white;
    outline: none;
    border: 1px solid #cbcbcb;;
    border-radius: 3px;
    font-size: 14px;
    padding: 12px 14px;
    color: black;
    font-weight: 500;
    min-width: 200px;
    &:focus
    {
        box-shadow: 0 0 4px 3px #ad1b3c4a;
    }
    &[type = radio], &[type = checkbox]
    {
        min-width: unset!important;
        box-shadow: none;
    }
    // &[type = radio]
    // {
    //     cursor: pointer;
    //     appearance: none;
    //     display: grid;
    //     place-content: center;
    //     width: 20px;
    //     height: 20px;
    //     padding: 0px;
    //     min-width: unset;
    //     border: 2px solid $red_color;
    //     border-radius: 50%;
    //     transform: translateY(-1px);
    //     margin-right: 12px;
    //     &::before
    //     {
    //         content: "";
    //         width: 12px;
    //         height: 12px;
    //         border-radius: 50%;
    //         transition: 120ms transform ease-in-out;
    //         box-shadow: inset 1em 1em $primary_color;
    //         transform: scale(0);
    //     }
    //     &:checked
    //     {
    //         &::before
    //         {
    //             transform: scale(1);
    //         }
    //     }
    //     &:focus
    //     {
    //         outline: max(2px, 0.15em) solid $red_color;
    //         outline-offset: max(2px, 0.15em);
    //     }
    // }
}

label
{
    &.form_control
    {
        display: flex;
        align-items: center;
    
    }
    &.error
    {
        color: $red_color;
    }
}
.form_labels
{
    font-size: 16px;
    font-weight: 600;
}

.head
{
    .title
    {
        font-weight: 600;
        font-size: 24px;
    }
    margin-bottom: 18px;
}

.row_flex
{
    display: flex;
}

.vertical_center
{
    display: flex;
    align-items: center;
}
.place_middle
{
    display: flex;
    justify-content: center;
    align-items: center;
}

th
{
    text-transform: uppercase;
    color: $grey_text_color;
    font-size: 14px;
    font-weight: normal;
}

.grid
{
    display: grid;

}

.grid2
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.grid3
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 24px;
    column-gap: 24px;
}

.flex
{
    display: flex;
}

.form, form
{
    .button_generator
    {
        margin-right: 22px;
    }
    a.button
    {
        margin-right: 22px;
    }
    select
    {
        margin-right: 22px;
    }
    .label
    {
        font-weight: 600;
        min-width: 200px;
        width: 200px;
        line-height: 1.5;
        margin-left: 22px;
        padding-right: 24px;
        
    }
    &.grid, .grid
    {
        row-gap: 24px;
        column-gap: 24px;
    }

    
    .form_group
    {
        input, select, .catagory_group, .input_container
        {
            width: 50%;
            display: flex;
            margin-right: 24px;
        }
        
        .add_new_button
        {
            align-self: center;
        }
        input[type=submit]
        {
            justify-content: center;
            margin-left: 224px;
        }
    }
}

.form_group
{
    display: flex;
    .label
    {
        display: flex;
        align-items: center;
    }
    input
    {
        width: 100%;
    }
    input
    {
        &[type = radio]
        {
            width: unset;
            height: unset;
        }
    }
}

.hidden
{
    display: none;
}

.main_container>.card>.wrapper
{
    padding-top: 22px;
}

a
{
    &.button
    {
        align-self: center;
    }
}